html {
	scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0 10%;
}

p{
    font-style: italic;
}
h1,h2,h3,h4{
    font-family: 'Arvo', serif;       
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px auto 100px;
}


.header{
    grid-column: 1/-1;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}   
 

.body{
    grid-column: 1/-1;
    font-size: 1.2rem;
}

.body-section-1{
    padding: 250px 0;
    background-color: aquamarine;
    background-image: url("../Image/image1.jpg");
    background-size: cover; 
    background-position:center ;
}

.body-section-2{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
.body-section-3{
    display: flex;
    flex-direction: column;
}
.body-section-3 > h1,.price{
    text-align: center;
}

.body-section-3 h2{
    text-align: center;
}
.body-section-4{
    display: flex;
    justify-content: space-around;
    padding: 7rem 0;
}

.courses{
    display: flex;
    gap: 0 3rem;
    justify-content: space-evenly;
}
.courses-item{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 350px;
}


.footer{
    grid-column: 1/-1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}












