.header > h1{
    margin: 0;
}
.header{
    padding: 0 2rem;
}
nav{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: flex;
    gap: 100px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Arvo', serif;
    
}
a:hover{
    color: #F6E0B3;
}
#logo{
    margin: auto 0;
    font-size: 4.5rem;
    font-family: 'Tangerine', serif;
}